<div class="bottom-bar" ng-controller="bottombarCtrl">
    <div class="row">
        <div class="col-xs-3">
            <a href="">
                <img src="images/knacks-icon-blue.png" />
                <div class="font-7 blue-color">Knacks</div>
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="images/marketplace-icon-blue.png" />
                <div class="font-7 blue-color">Marketplace</div>
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="images/notification-icon-blue.png" />
                <div class="font-7 blue-color">Notifications</div>
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="images/profile-icon-blue.png" />
                <div class="font-7 blue-color">Profile</div>
            </a>
        </div>
    </div>
</div>